body {
    font-family: "Fredoka One", helvetica, arial, sans-serif;
    margin: 5px;
    font-size: 1.25vw;
}

#logo {
    margin: 0px;
    padding: 12px;
    color: black;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    border-width: 15%;
    border-radius: 30%;
}

h4 {
    justify-content: space-around;
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(120, 241, 243);
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

section > li {
    list-style: none;
}

#nav-ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#nav-ul > li {
    margin: 16px;
    padding: 8px;
    text-decoration: none;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: black;
    padding: 12px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

div {
    align-content: center;
}

#main-content {
    display: flex;
    text-align: center;
}

header {
    text-align: center;
}

#main-content > div {
    width: 80%;
}

#timings {
    display: flex;
    margin-left: 10px;
    text-align: center;
}

form {
    text-align: center;
}

h2{
    text-align: center;
}

section{
    text-align: center;
}

h4{
    text-align: center;
}

body > footer {
    background-color: rgb(120, 241, 243);
    display: flex;
}

img {
    border-radius: 50%;
}

footer {
    text-align-last: center;
}

#footer-ul {
    list-style: none;
    display: flex;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: black;
    text-decoration: none;
}
